@model MarketData.Models.AdjustDataViewModel;
@{
    ViewData["Title"] = "Adjust";
}


<h3>
    @ViewData["Title"]
</h3>


<hr />
<br />
<br />
<div class="row">
    <div style="width: 100%; font-size: 13px;">
        <div class="row col-sm-12">
            <div class="col-sm-3">
                <label>Distribution Channel</label>

                @if (Model.channelList.Count > 1)
                {
                    @Html.DropDownList("channelList", new SelectList(Model.channelList, "distributionChannelID", "distributionChannelName"), "All", new { id = "channelList", @class = "form-control col-sm-12" })
                }
                else
                {
                    @Html.DropDownList("channelList", new SelectList(Model.channelList, "distributionChannelID", "distributionChannelName"), new { id = "channelList", @class = "form-control col-sm-12" })
                }
            </div>
            <div class="col-sm-3">
                <label>Retailer Group</label>

                @if (Model.retailerGroupList.Count > 1)
                {
                    @Html.DropDownList("retailerGroupList", new SelectList(Model.retailerGroupList, "retailerGroupID", "retailerGroupName"), "All", new { id = "retailerGroupList", @class = "form-control col-sm-12" })
                }
                else
                {
                    @Html.DropDownList("retailerGroupList", new SelectList(Model.retailerGroupList, "retailerGroupID", "retailerGroupName"), new { id = "retailerGroupList", @class = "form-control col-sm-12" })
                }

            </div>
            <div class="col-sm-3">
                <label>Department Store</label>
                @if (Model.departmentStoreList.Count > 1)
                {
                    @Html.DropDownList("departmentStoreList", new SelectList(Model.departmentStoreList, "departmentStoreID", "departmentStoreName"), "All", new { id = "departmentStoreList", @class = "form-control col-sm-12" })
                }
                else
                {
                    @Html.DropDownList("departmentStoreList", new SelectList(Model.departmentStoreList, "departmentStoreID", "departmentStoreName"), new { id = "departmentStoreList", @class = "form-control col-sm-12" })
                }
            </div>

            <div class="col-sm-3">
                <label>Brand</label>
                @if (Model.brandList.Count > 1)
                {
                    @Html.DropDownList("brandList", new SelectList(Model.brandList, "brandID", "brandName"), "All", new { id = "brandList", @class = "form-control col-sm-12" })
                }
                else
                {
                    @Html.DropDownList("brandList", new SelectList(Model.brandList, "brandID", "brandName"), new { id = "brandList", @class = "form-control col-sm-12" })
                }

            </div>
        </div>
        <div class="row col-sm-12" style="padding-top: 15px;">
            <div class="col-sm-3">

                <label> Week</label>
                <select id="ddlWeek" class="form-control col-sm-12 ">
                    <option value="">All</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

            </div>

            <div class="col-sm-3">
                <label>Month</label>
                <select id="ddlMonth" class="form-control col-sm-12 ">
                    <option value="">All</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>


            </div>
            <div class="col-sm-3">
                <label>Year</label>
                @Html.DropDownList(
                    "yearList",
                    new SelectList(
                        Model.yearList.Select(x => new { Value = x, Text = x }),
                        "Value",
                        "Text"
                    ), "All", new { id = "yearList", @class = "form-control col-sm-12" }
                )
            </div>
            <div class="col-sm-3">
                <label>Universe</label>
                @{
                    var defaultUniverse = "LPD";
                    List<SelectListItem> listUniverse = new List<SelectListItem>();
                    listUniverse.Add(new SelectListItem
                    {
                        Text = "CPD",
                        Value = "CPD"
                    });
                    listUniverse.Add(new SelectListItem
                    {
                        Text = "LPD",
                        Value = "LPD",

                    });

                    @Html.DropDownListFor(c => defaultUniverse, new SelectList(listUniverse, "Value", "Text", 1), "All", new { id = "iduniverseList", @class = "form-control " })

                }


            </div>
        </div>
        <div class="row col-sm-12" style="padding-top: 15px;padding-bottom:15px;">
            <div class="col-sm-3">
                <label>Status</label>
                @Html.DropDownList("statusList", new SelectList(Model.statusList, "statusID", "statusName"), "All", new { id = "statusList", @class = "form-control col-sm-12" })


            </div>
            <div class="col-sm-3" style="align-self: flex-end;">

            </div>

        </div>

    </div>

</div>

<div class="container-xl">
    <table id="tableData" class="display" width="100%"></table>
</div>

<script type="text/javascript">


</script>