@model MarketData.Models.UserOptionViewModel;
@{
    ViewData["Title"] = "Users";
}


<h3>
    @ViewData["Title"]
    <a href="Users_Edit" class="add-click"><i class="ion-ios-plus text-danger"></i></a>

</h3>
<hr />
<br />
<br />
<div class="row">
    <div class="table-filter" style="width: 100%; font-size: 13px;">
        <div class="row">

            <div class="col-sm-10">

                <div class="filter-group">
                    <label>Filter</label>
                    <input type="text" class="form-control">
                </div>

                <div class="filter-group">
                    <label>Department Store</label>
                    @Html.DropDownList("departmentStoreList", new SelectList(Model.departmentStoreList, "departmentStoreID", "departmentStoreName"), "All", new { id = "departmentStoreList", @class = "form-control col-sm-12" })
                </div>
                <div class="filter-group">
                    <label>Brand</label>
                    <select class="form-control" style="width: 150px; ">
                        <option>All</option>
                        <option>LOREAL</option>
                        <option>SHISEDO</option>
                        <option>Lux Asia</option>
                    </select>
                </div>
                <div class="filter-group">
                    <button type="button" class="btn btn-outline-primary"><i class="ion-search"></i></button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="custom-file-upload">

                    <label for="file-upload" class="custom-file-upload1">
                        <i class="ion-android-document"></i> Import by Excel
                    </label>
                    <input id="file-upload" type="file" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">

            <table class="table table-striped table-hover ">
                <thead class="table-secondary">
                    <tr class="row m-0">
                        <th class="col-2">Email</th>
                        <th class="col-2">Display Name</th>
                        <th class="col-1">First Name</th>
                        <th class="col-1">Last Name</th>
                        <th class="col-1 text-center">Validated Email</th>
                        <th class="col-1 text-center">Active</th>
                        <th class="col-2 text-center">Last Login</th>
                        <th class="col-2 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row m-0">
                        <td class="col-2">
                            lancomemscm@gmail.com
                        </td>
                        <td class="col-2">
                            Lancome<br />
                            Robinson<br />
                            Chiangmai
                        </td>
                        <td class="col-1"></td>
                        <td class="col-1"></td>
                        <td class="col-1 text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1" disabled checked>
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="col-1 text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1" disabled checked>
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="col-2 text-center">
                            2021-10-08 23:21:56
                        </td>
                        <td class="col-2 text-center">
                            <a href="Users_Edit" class="btn btn-primary col-sm-12 col-md-3 btn-sm">
                                <i class="ion-eye text-white"></i>
                            </a>
                            <a href="Users_Edit" class="btn btn-warning col-sm-12 col-md-3 btn-sm">
                                <i class="ion-edit text-white"></i>
                            </a>
                            <a href="#deleteModal" class="btn btn-danger col-sm-12 col-md-3 btn-sm" data-toggle="modal">
                                <i class="ion-android-delete text-white"></i>
                            </a>
                            <a style="margin-top:5px;font-size:10px" href="#" class="btn btn-outline-primary col-sm-12 col-md-10 btn-sm">
                                Resend Welcome Email
                            </a>

                        </td>
                    </tr>


                    <tr class="row m-0">
                        <td class="col-2">
                            sirilux@gmail.com
                        </td>
                        <td class="col-2">
                            Yim Sirilux
                        </td>
                        <td class="col-1">Sirilux</td>
                        <td class="col-1">Somprasong</td>
                        <td class="col-1 text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1" disabled checked>
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="col-1 text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1" disabled checked>
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="col-2 text-center">
                            2021-10-08 23:21:56
                        </td>
                        <td class="col-2 text-center">-->
@*<a href="Users_Edit" class="btn btn-primary col-sm-12 col-md-3 btn-sm">
        <i class="ion-eye text-white"></i>
    </a>*@
<!--<a href="Users_Edit" class="btn btn-primary col-sm-12 col-md-3 btn-sm">
                                <i class="ion-eye text-white"></i>
                            </a>
                            <a href="Users_Edit" class="btn btn-warning col-sm-12 col-md-3 btn-sm">
                                <i class="ion-edit text-white"></i>
                            </a>
                            <a href="#deleteModal" class="btn btn-danger col-sm-12 col-md-3 btn-sm" data-toggle="modal">
                                <i class="ion-android-delete text-white"></i>
                            </a>
                            <a style="margin-top:5px;font-size:10px" href="#" class="btn btn-outline-danger col-sm-12 col-md-10 btn-sm">
                                Reset Password
                            </a>

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>-->
<!-- Delete Modal HTML -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-xl">


    <table id="tableData" class="display" width="100%"></table>


</div>



<script type="text/javascript">


    $(document).ready(function () {
        //$('#importDataModalHref').attr("href", "Brand");
        //$('#importDataModal').modal('show');

        //function base64ToArrayBuffer(base64) {
        //    var binaryString = window.atob(base64);
        //    var binaryLen = binaryString.length;
        //    var bytes = new Uint8Array(binaryLen);
        //    for (var i = 0; i < binaryLen; i++) {
        //        var ascii = binaryString.charCodeAt(i);
        //        bytes[i] = ascii;
        //    }
        //    return bytes;
        //}

        //function saveByteArray(reportName, byte) {
        //    var blob = new Blob([byte], { type: "text/plain" });
        //    var link = document.createElement('a');
        //    link.href = window.URL.createObjectURL(blob);
        //    var fileName = reportName;
        //    link.download = fileName;
        //    link.click();
        //};


        @*$("#file-upload").change(function () {
            $("#blocker").show();

            var fd = new FormData();
            var files = $('#file-upload')[0].files;

            fd.append('userID', 'Test');

            // Check file selected or not
            if (files.length > 0) {
                fd.append('excelFile', files[0]);
            }

            $.ajax(
                {
                    url: '@Url.Action("ImportBrand", "MasterData")',
                    data: fd,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {

                        $("#blocker").hide();
                        if (data.isSuccess) {
                           // dataTable.ajax.reload();

                            $('#importSuccess').text("Import Success : " + data.countImportSuccess);
                            $('#importFailed').text("Import Failed : " + data.countImportFailed);

                            if (data.importResult.length > 0) {

                                for (var i = 0; i < data.importResult.length; i++) {
                                    $('#result-import').append("<p id='txtResult' class='text-center'>" + data.importResult[i].result+"</p>");
                                }

                                var sampleArr = base64ToArrayBuffer(data.fileResult);
                                saveByteArray(data.fileName, sampleArr);

                                $('#importDataModalHref').attr("href", "Brand");
                                $('#importDataModal').modal('show');
                            }
                            else {
                                $('#importDataModalHref').attr("href", "Brand");
                                $('#importDataModal').modal('show');
                            }
                        }
                        else {
                            $('#myModalFailedResult').text(data.responseError != ""
                                && data.responseError != null ? data.responseError : 'Import data failed!');
                                $('#failedModal').modal('show');
                        }

                        $("#file-upload").val("");
                    },
                    error: function () {
                        $("#blocker").hide();
                        $('#myModalFailedResult').text('Import data failed!');
                        $('#failedModal').modal('show');
                        $("#file-upload").val("");
                    }
                }
            );
        });*@


        $("#tableData").one("preInit.dt", function () {

            $button = $('<button class="btn btn-primary btn-sm btnReresh" type="button" style="width: 100px!important;margin-top: -5px;margin-left: 5px;"><i class="ion-refresh text-white"></i> Refresh</button>');
            $("#tableData_filter label").append($button);
            $button.button();

        });

        var dataTable=  $('#tableData').DataTable({
            "ajax": {
                type: "POST",
                url: '@Url.Action("GetUserList", "Users")',
                contentType: "application/json; charset=utf-8",
                dataSrc: function (result) {
                    return result.data;
                }
            },
            "columns": [
                { data: "userID", visible: false, searchable: false },
                { data: "displayName", title: "Display Name"},
                { data: "firstName", title: "First Name" },
                { data: "lastName", title: "Last Name" },
                { data: "validateEmail", title: "Validate Email" },
                {
                    data: "validateEmail",
                    title: "Validate Email",
                    render: function (data, type, row) {
                        var checkStatus = data ? "checked" : "";
                        return '<input type="checkbox" disabled ' + checkStatus + '>';
                    },
                    className: "text-center",
                    visible: true,
                    searchable: true,
                    orderable: false,
                },
                { data: "lastLogin", title: "Last Login" },
                { data: "active", title: "active", visible: false },
                { data: "departmentStoreID", title: "departmentStoreID", visible: false },
                {
                    data: "active",
                    title: "Active",
                    render: function (data, type, row) {
                        var checkStatus = data ? "checked" : "";
                        return '<input type="checkbox" disabled ' + checkStatus + '>';
                    },
                    className: "text-center",
                    visible: true,
                    searchable: true,
                    orderable: false,
                },
                {
                    orderable: false,
                    title: "Action",
                    className: "text-center",
                    render: function (data, type, row) {
                        return '<a href="Brand_Edit_View?brandID=' + row.brandID + '" class="buttonIcon btn btn-primary btn-sm"><i class="ion-eye text-white" ></i></a>' +
                            '<a href="Brand_Edit?brandID=' + row.brandID + '" class="buttonIcon btn btn-warning btn-sm"><i class="ion-edit text-white"></i></a>';
                          /*  '<a href="#confirmModal" data-id="' + row.brandID +'" class="delete-click buttonIcon btn btn-danger btn-sm" data-toggle="modal"><i class="ion-android-delete text-white"></i></a>';*/
                    }
                }
            ]});

        $('#departmentStoreList').on('change', function (e) {
            var status = $(this).val();
            $('#departmentStoreList').val(status);
            console.log(status, 'status');
            console.log(dataTable.column(7), 'dataTable.column(7)');
            dataTable.column(8).search(status).draw();
        });

        @*$('.btnReresh').on('click', function (e) {
            $("#blocker").show();
            dataTable.ajax.reload();
            setTimeout(function () {
                $("#blocker").hide();
            }, 500);
        });

        $('.status-dropdown').on('change', function (e) {
            var status = $(this).val();
            $('.status-dropdown').val(status);
            dataTable.column(10).search(status).draw();
        });

        $(document).on('click', '.delete-click', function () {
            var id = $(this).attr('data-id');
            $('#confirmID').val(id);
        });

        $('.btnReresh').on('click', function (e) {
            dataTable.ajax.reload();
        });

        $(".btnConfirmModal").click(function () {
                   var frmdata = {
                       brandID: $('#confirmID').val(),
                       userID: null
            };

            $.ajax({
                 type: "POST",
                 url: '@Url.Action("DeleteBrand", "MasterData")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(frmdata),
                datatype: "json",
                 success: function (data) {
                     if (data.isSuccess) {

                         dataTable.ajax.reload();
                         $('#confirmModal').modal('hide');
                     } else {
                        $('#myModalConfirmResult').text('Delete data failed');

                 }

                     $('#confirmID').val('');
                     $('#myModalConfirmResult').val('');
                },
                error: function () {
                }
            });
        });*@

    });



</script>
