@model MarketData.Models.CounterViewModel

@{
    ViewData["Title"] = Model.departmentStoreID == Guid.Empty ? "Add Counter" : "Edit Counter";
    Html.RenderPartial("_SuccessModal");
    Html.RenderPartial("_FailedModal");
}


<h3>@ViewData["Title"]</h3>
<hr />

<br />

<form>
    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label>Distribution Channels</label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.distributionChannelID, new SelectList(Model.channelList, "distributionChannelID", "distributionChannelName", 1), "Please select", new { id = "channelList", @class = "form-control " })

        </div>

    </div>

    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label>Department Store</label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.departmentStoreID, new SelectList(Model.departmentStoreList, "departmentStoreID", "departmentStoreName", 1), "Please select", new { id = "departmentStoreList", @class = "form-control " })

        </div>

    </div>
    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label>Brand</label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.brandID, new SelectList(Model.brandList, "brandID", "brandName", 1), "Please select", new { id = "brandList", @class = "form-control " })

        </div>

    </div>



    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label>
                @if (Model.active)
                {
                    <input value="" id="flagactive" checked type="checkbox" data-toggle="toggle">
                }
                else
                {
                    <input value="" id="flagactive" type="checkbox" data-toggle="toggle">
                }
                Active
            </label>
        </div>

    </div>
    <div class="modal-footer">
        <button id="save" class="btn btn-danger " type="button">Save</button>
        <a href="Counter" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>



<script type="text/javascript">

    $(document).ready(function () {          

        $("#save").click(function () {
            $("#blocker").show();
            var model = @Html.Raw(Json.Serialize(Model));
             var frmdata = {
                 counterID: model.counterID,
                 distributionChannelID: $('#channelList').val(),
                 distributionChannelName: $('#channelList option:selected').text(),
                 departmentStoreID: $('#departmentStoreList').val(),
                 departmentStoreName: $('#departmentStoreList option:selected').text(),
                 brandID: $('#brandList').val(),
                 brandName: $('#brandList option:selected').text(),
                 active: $("#flagactive").prop("checked"),
                 userID: $('#iduserID').val()
            };

            $.ajax({
                 type: "POST",
                 url: '@Url.Action("SaveCounter", "MasterData")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(frmdata),
                datatype: "json",
                success: function (data) {
                    $("#blocker").hide();
                    if (data.isSuccess) {
                        $('#successModalHref').attr("href", "Counter");
                        $('#successModal').modal('show');
                    } else if (data.isDuplicated) {
                        $('#failedModal').modal('show');
                        $('#myModalFailedResult').text('Duplicate data!');
                    } else {
                        $('#failedModal').modal('show');
                        $('#myModalFailedResult').text(data.responseError != ""
                            && data.responseError != null ? data.responseError : 'Save data failed');
                     }
                    $('#confirmID').val('');
                    $('#myModalFailedResult').val('');
                },
                error: function () {
                    $("#blocker").hide();
                }
            });
        });

        $('#channelList').on('change', function (e) {
            getDepartmentStoreList()
        });


           function getDepartmentStoreList() {
            var distributionChannelID = $("#channelList").val();

              var model = @Html.Raw(Json.Serialize(Model));
              var departmentStoreList = model.departmentStoreList;


            if (distributionChannelID != "") {
                departmentStoreList = departmentStoreList.filter(function (items) {
                    return items.distributionChannelID == $('#channelList').val()
                });
            }

            var lengthSelect = $('#departmentStoreList');

            lengthSelect.empty();
            lengthSelect.append("<option value='Please select'>Please select</option>")
            $.each(departmentStoreList, function (index, row) {
                lengthSelect.append("<option value='" + row.departmentStoreID + "'>" + row.departmentStoreName + "</option>")
            });
        }

 });
</script>