@model MarketData.Models.CounterViewModel
@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = Model.departmentStoreID == Guid.Empty ? "Add Counter" : "Edit Counter";
    Html.RenderPartial("_SuccessModal");
    Html.RenderPartial("_FailedModal");
    Html.RenderPartial("_WarningModal");
}


<h3>@ViewData["Title"]</h3>
<hr />

<br />

<form>
    @{
        var userPermission = JsonSerializer.Deserialize<MarketData.Model.Response.User.GetUserDetailResponse>(HttpContextAccessor.HttpContext.Session.GetString("userDetail"));
        <input hidden type="text" value="@userPermission.userID" class="form-control input-sm" id="iduserID" placeholder="">
    }

    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label>Distribution Channels</label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.distributionChannelID, new SelectList(Model.channelList, "distributionChannelID", "distributionChannelName", 1), "Please select", new { id = "channelList", @class = "form-control " })

        </div>

    </div>

    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label>Department Store</label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.departmentStoreID, new SelectList(Model.departmentStoreList, "departmentStoreID", "departmentStoreName", 1), "Please select", new { id = "departmentStoreList", @class = "form-control " })

        </div>

    </div>
    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label>Brand</label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.brandID, new SelectList(Model.brandList, "brandID", "brandName"), "Please select", new { id = "brandList", @class = "form-control " })

        </div>

    </div>



    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label>
                @if (Model.active)
                {
                    <input value="" id="flagactive" checked type="checkbox" data-toggle="toggle">
                }
                else
                {
                    <input value="" id="flagactive" type="checkbox" data-toggle="toggle">
                }
                Active
            </label>
            <label style="margin-left:4rem">
                @if (Model.alwayShow)
                {
                    <input value="" id="flagalway" checked type="checkbox" data-toggle="toggle">
                }
                else
                {
                    <input value="" id="flagalway" type="checkbox" data-toggle="toggle">
                }
                Alway show in current year
            </label>
            <label style="margin-left:4rem">
                @if (Model.alwayShowKeyIn)
                {
                    <input value="" id="flagalwaykeyin" checked type="checkbox" data-toggle="toggle">
                }
                else
                {
                    <input value="" id="flagalwaykeyin" type="checkbox" data-toggle="toggle">
                }
                Alway Show Keyin
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button id="save" class="btn btn-danger" type="button">Save</button>
        <a href="Counter" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>



<script type="text/javascript">

    $(document).ready(function () {

        $("#save").click(function () {
            $('#myModalWarningMessage').text("");
            var model = @Html.Raw(Json.Serialize(Model));
             var frmdata = {
                 counterID: model.counterID,
                 distributionChannelID: $('#channelList').val(),
                 distributionChannelName: $('#channelList option:selected').text(),
                 departmentStoreID: $('#departmentStoreList').val(),
                 departmentStoreName: $('#departmentStoreList option:selected').text(),
                 brandID: $('#brandList').val(),
                 brandName: $('#brandList option:selected').text(),
                 active: $("#flagactive").prop("checked"),
                 alwayShow: $("#flagalway").prop("checked"),
                 alwayShowKeyIn: $("#flagalwaykeyin").prop("checked"),
                 userID: $('#iduserID').val()
            };

            if (frmdata.distributionChannelID != "" && frmdata.distributionChannelID != "Please select"
                && frmdata.departmentStoreID != "" && frmdata.departmentStoreID != "Please select"
                && frmdata.brandID != "") {
                $("#blocker").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditCounter", "MasterData")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(frmdata),
                    datatype: "json",
                    success: function (data) {
                        $("#blocker").hide();
                        if (data.isSuccess) {
                            $('#successModalHref').attr("href", "Counter");
                            $('#successModal').modal('show');
                        } else if (data.isDuplicated) {
                            $('#failedModal').modal('show');
                            $('#myModalFailedResult').text('Counter ซ้ำกับที่มีอยู่ในระบบ!');
                        } else {
                            $('#failedModal').modal('show');
                            $('#myModalFailedResult').text(data.responseError != ""
                                && data.responseError != null ? data.responseError : 'Save data failed');
                        }
                        $('#confirmID').val('');
                        $('#myModalFailedResult').val('');
                    },
                    error: function () {
                        $("#blocker").hide();
                    }
                });
            }
            else {
                if (frmdata.distributionChannelID == "" || frmdata.distributionChannelID == "Please select") {
                    $('#failedModal').modal('show');
                    $('#myModalFailedResult').text('Please select Distribution Channels!');
                }
                else if (frmdata.departmentStoreID == "" || frmdata.departmentStoreID == "Please select") {
                    $('#failedModal').modal('show');
                    $('#myModalFailedResult').text('Please select Department Store!');
                }
                else if (frmdata.brandID == "") {
                    $('#failedModal').modal('show');
                    $('#myModalFailedResult').text('Please select Brand!');
                }
            }


        });

        $('#channelList').on('change', function (e) {
            getDepartmentStoreList()
        });

        $('#flagalway').on('change', function (e) {
            const isChecked = $('#flagalway').is(":checked");
            if (isChecked) {
                $("#flagalwaykeyin").prop('checked', false);
            }
          
        });

        $('#flagalwaykeyin').on('change', function (e) {
            const isChecked = $('#flagalwaykeyin').is(":checked");
            if (isChecked) {
                $("#flagalway").prop('checked', false);
            }

        });


           function getDepartmentStoreList() {
            var distributionChannelID = $("#channelList").val();

              var model = @Html.Raw(Json.Serialize(Model));
              var departmentStoreList = model.departmentStoreList;


            if (distributionChannelID != "") {
                departmentStoreList = departmentStoreList.filter(function (items) {
                    return items.distributionChannelID == $('#channelList').val()
                });
            }

            var lengthSelect = $('#departmentStoreList');

            lengthSelect.empty();
            lengthSelect.append("<option value='Please select'>Please select</option>")
            $.each(departmentStoreList, function (index, row) {
                lengthSelect.append("<option value='" + row.departmentStoreID + "'>" + row.departmentStoreName + "</option>")
            });
        }

 });
</script>