@model MarketData.Models.DepartmentStoreViewModel
@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = Model.departmentStoreName == null ? "Add Department Store" : "Edit Department Store";
    Html.RenderPartial("_SuccessModal");
    Html.RenderPartial("_FailedModal");
}


<h3>@ViewData["Title"]</h3>
<hr />

<br />

<form>
    @{
        var userPermission = JsonSerializer.Deserialize<MarketData.Model.Response.User.GetUserDetailResponse>(HttpContextAccessor.HttpContext.Session.GetString("userDetail"));
        <input hidden type="text" value="@userPermission.userID" class="form-control input-sm" id="iduserID" placeholder="">
    }

    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Department Store Name</label><label style="font-size:14px;color:red">*</label>
            <input type="text" class="form-control input-sm" id="departmentStoreName" placeholder="" value="@Model.departmentStoreName">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Retailer group</label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.retailerGroupID, new SelectList(Model.retailerGroupList, "retailerGroupID", "retailerGroupName", 1), "Please select", new { id = "retailerGroupList", @class = "form-control " })

        </div>
    </div>
    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Region</label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.regionID, new SelectList(Model.regionList, "regionID", "regionName", 1), "Please select", new { id = "regionList", @class = "form-control " })

        </div>

        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Distribution Channels </label><label style="font-size:14px;color:red">*</label>
            @Html.DropDownListFor(n => n.distributionChannelID, new SelectList(Model.channelList, "distributionChannelID", "distributionChannelName", 1), "Please select", new { id = "channelList", @class = "form-control " })

        </div>
    </div>
    <div class="row col-md-12 col-sm-12">

        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Rank</label>
            <input type="number" class="form-control input-sm" id="rank" placeholder="" value="@Model.rank">
        </div>
    </div>

    <div class="row col-md-12 col-sm-12">

        <div class="form-group col-md-6 col-sm-6 " style=" align-self: flex-end;">
            <label>
                @if (Model.active)
                {
                    <input value="" id="flagactive" checked type="checkbox" data-toggle="toggle">
                }
                else
                {
                    <input value="" id="flagactive" type="checkbox" data-toggle="toggle">
                }
                Active
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button id="save" class="btn btn-danger " type="button">Save</button>
        <a href="DepartmentStore" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>


<script type="text/javascript">

    $(document).ready(function () {

        $("#save").click(function () {
            $("#blocker").show();
            var model = @Html.Raw(Json.Serialize(Model));

             var frmdata = {
                 departmentStoreID: model.departmentStoreID,
                 departmentStoreName: $('#departmentStoreName').val(),
                 retailerGroupID: $('#retailerGroupList').val(),
                 retailerGroupName: $('#retailerGroupList option:selected').text(),
                 distributionChannelID: $('#channelList').val(),
                 distributionChannelName: $('#channelList option:selected').text(),
                 regionID: $('#regionList').val(),
                 region: $('#regionList option:selected').text(),
                 rank: parseInt($('#rank').val()),
                 active: $("#flagactive").prop("checked"),
                 userID: $('#iduserID').val()
            };

            $.ajax({
                 type: "POST",
                 url: '@Url.Action("SaveDepartmentStore", "MasterData")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(frmdata),
                datatype: "json",
                success: function (data) {
                    $("#blocker").hide();
                    if (data.isSuccess) {
                        $('#successModalHref').attr("href", "DepartmentStore");
                        $('#successModal').modal('show');
                    } else if (data.isDuplicated) {
                        $('#failedModal').modal('show');
                        $('#myModalFailedResult').text('Duplicate data!');
                    } else {
                        $('#failedModal').modal('show');
                        $('#myModalFailedResult').text(data.responseError != ""
                            && data.responseError != null ? data.responseError : 'Save data failed');
                     }
                    $('#confirmID').val('');
                    $('#myModalFailedResult').val('');
                },
                error: function () {
                    $("#blocker").hide();
                }
            });
        });

 });
</script>