@model MarketData.Models.RetailerGroupViewModel
@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = Model.retailerGroupName == null ? "Add Retailer Group" : "Edit Retailer Group";
    Html.RenderPartial("_SuccessModal");
    Html.RenderPartial("_FailedModal");
}


<h3>@ViewData["Title"]</h3>
<hr />

<br />

<form>
    @{
        var userPermission = JsonSerializer.Deserialize<MarketData.Model.Response.User.GetUserDetailResponse>(HttpContextAccessor.HttpContext.Session.GetString("userDetail"));
        <input hidden type="text" value="@userPermission.userID" class="form-control input-sm" id="iduserID" placeholder="">
    }

    <div class="col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Retailer Group Name</label><label style="font-size:14px;color:red">*</label>
            <input type="text" value="@Model.retailerGroupName" class="form-control input-sm" id="retailername" placeholder="">
        </div>
    </div>
    <div class="col-md-12 col-sm-12">

        <div class="form-group col-md-5 col-sm-5">
            <label for="pincode">
                @if (Model.active)
                {
                    <input value="" id="flagactive" checked type="checkbox" data-toggle="toggle">
                }
                else
                {
                    <input value="" id="flagactive" type="checkbox" data-toggle="toggle">
                }

                Active
            </label>
        </div>
    </div>

    <div class="modal-footer">
        <button id="save" class="btn btn-danger " type="button">Save</button>
        <a href="RetailerGroup" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        $("#save").click(function () {        
            var model = @Html.Raw(Json.Serialize(Model));

             var frmdata = {
                 retailerGroupID: model.retailerGroupID,
                 retailerGroupName: $('#retailername').val(),
                 active: $("#flagactive").prop("checked"),
                 userID: $('#iduserID').val()
             };

            if (frmdata.retailerGroupName.trim() != "") {
                $("#blocker").show();
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("SaveRetailerGroup", "MasterData")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(frmdata),
                    datatype: "json",
                    success: function (data) {
                        $("#blocker").hide();
                        if (data.isSuccess) {
                            $('#successModalHref').attr("href", "RetailerGroup");
                            $('#successModal').modal('show');
                        }
                        else {
                            $('#failedModal').modal('show');
                            $('#myModalFailedResult').text(data.responseError != ""
                                && data.responseError != null ? data.responseError : 'Save data failed');
                         }
                        $('#confirmID').val('');
                        $('#myModalFailedResult').val('');
                    },
                    error: function () {
                        $("#blocker").hide();
                    }
                });
            }
            else {
                $('#failedModal').modal('show');
                $('#myModalFailedResult').text('Please input Retailer Group Name!');
            }

        });

 });
</script>
