@model MarketData.Models.AdminKeyInViewModel

@{
    ViewData["Title"] = "บันทึกข้อมูลยอดขายรายแบรนด์";
    Html.RenderPartial("_WarningModal");
    Html.RenderPartial("_SuccessModal");
    Html.RenderPartial("_FailedModal");
}


<h3>
    @ViewData["Title"]

</h3>


<hr />
<br />
<br />

<div class="row">
    <div style="width: 100%; font-size: 13px;">
        <div class="row col-sm-12">
            <div class="col-sm-3">
                <label>Distribution Channel</label>
                @Html.DropDownList("channelList", new SelectList(Model.channelList, "distributionChannelID", "distributionChannelName"), "All", new { id = "channelList", @class = "form-control col-sm-12" })

            </div>
            <div class="col-sm-3">
                <label>Retailer Group</label>
                @Html.DropDownList("retailerGroupList", new SelectList(Model.retailerGroupList, "retailerGroupID", "retailerGroupName"), "All", new { id = "retailerGroupList", @class = "form-control col-sm-12" })

            </div>
            <div class="col-sm-3">
                <label>Department Store</label>
                @Html.DropDownList("departmentStoreList", new SelectList(Model.departmentStoreList, "departmentStoreID", "departmentStoreName"), "All", new { id = "departmentStoreList", @class = "form-control col-sm-12" })

            </div>

            <div class="col-sm-3">
                <label>Brand</label>
                @Html.DropDownList("brandList", new SelectList(Model.brandList, "brandID", "brandName"), "All", new { id = "brandList", @class = "form-control col-sm-12" })

            </div>
        </div>

        <div class="row col-sm-12" style="padding-top: 15px;">
            <div class="col-sm-3">

                <label> Week</label>
                <select id="ddlWeek" class="form-control col-sm-12 ">
                    <option value="">All</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

            </div>

            <div class="col-sm-3">
                <label>Month</label>
                <select id="ddlMonth" class="form-control col-sm-12 ">
                    <option value="">All</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>


            </div>
            <div class="col-sm-3">
                <label>Year</label>
                @Html.DropDownList(
                    "yearList",
                    new SelectList(
                        Model.yearList.Select(x => new { Value = x, Text = x }),
                        "Value",
                        "Text"
                    ), "All", new { id = "yearList", @class = "form-control col-sm-12" }
                )
            </div>
            <div class="col-sm-3">
                <label>Universe</label>
                @{
                    List<SelectListItem> listUniverse = new List<SelectListItem>();
                    listUniverse.Add(new SelectListItem
                    {
                        Text = "CPD",
                        Value = "CPD"
                    });
                    listUniverse.Add(new SelectListItem
                    {
                        Text = "LPD",
                        Value = "LPD",

                    });

                    @Html.DropDownList("iduniverseList", new SelectList(listUniverse, "Value", "Text", 1), "All", new { id = "iduniverseList", @class = "form-control " })

                }


            </div>
        </div>
        <div class="row col-sm-12" style="padding-top: 15px;padding-bottom:15px;">

            <div class="col-sm-3" style="align-self: flex-end;">
                <div class="filter-group">
                    <button id="btnCreate" type="button" class="btn btn-danger"><i class="ion-plus"></i> Create</button>
                </div>
            </div>

        </div>



    </div>

</div>


<div class="container-xl" style="padding-top:20px">
    <div class="table-responsive table-sm">
        <div class="table-wrapper">
            <div style=" overflow-x: auto;">
                <table class="table table-striped table-hover " id="tblDetails">
                    @*<thead class="table-secondary">
                        <tr class="row m-0">
                            @{
                                var titelPrevYear = "Amount Sales (" + (Convert.ToInt32(Model.year) - 1) + " " + Model.month + " week 4)";
                            }
                            <th class="col-2">Brand</th>
                            <th class="col-2">@titelPrevYear</th>
                            <th class="col-1">Rank</th>
                            <th class="col-1">Amount Sales</th>
                            <th class="col-1">Whole Sales</th>
                            <th class="col-1">SK</th>
                            <th class="col-1">MU</th>
                            <th class="col-1">FG</th>
                            <th class="col-1">OT</th>
                            <th class="col-1">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.data)
                            {
                                <tr class="row m-0">
                                    <td class="col-2 ID" hidden>@item.ID</td>
                                    <td class="col-2" hidden>@item.counterID</td>
                                    <td class="col-2" hidden>@item.departmentStoreID</td>
                                    <td class="col-2" hidden>@item.channelID</td>
                                    <td class="col-2" hidden>@item.year</td>
                                    <td class="col-2" hidden>@item.month</td>
                                    <td class="col-2" hidden>@item.week</td>
                                    <td class="col-2" hidden>@item.brandID</td>
                                    <td class="col-2">@item.brandName</td>
                                    <td class="col-2">@item.amountSalePreviousYear</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center"><input type="number" class="form-control input-sm rank" value="@item.rank"></td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center"><input type="number" class="form-control input-sm amountSale" value="@item.amountSale"></td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center"><input type="number" class="form-control input-sm wholeSale" value="@item.wholeSale"></td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center"><input type="number" class="form-control input-sm sk" value="@item.sk">%</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center"><input type="number" class="form-control input-sm mu" value="@item.mu">%</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center"><input type="number" class="form-control input-sm fg" value="@item.fg">%</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center"><input type="number" class="form-control input-sm ot" value="@item.ot">%</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center"><input type="text" class="form-control input-sm remark" value="@item.remark"></td>
                                </tr>
                            }

                        }


                    </tbody>*@
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSubmit" class="btn btn-warning text-white" type="button">Submit</button>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('#btnSubmit').hide();

        $('#btnCreate').on('click', function (e) {
            $("#blocker").show();
            if (
                !$('#ddlWeek').val() ||
                !$('#ddlMonth').val() ||
                !$('#yearList').val() ||
                !$('#iduniverseList').val()) {
                $('#warningModal').modal('show');

                $('#myModalWarningResult').text('กรุณาเลือกข้อมูลให้ครบเพื่อสร้างข้อมูลยอดขายรายแบรนด์');
                $("#blocker").hide();
            } else {
                var model = @Html.Raw(Json.Serialize(Model));

                var frmdata = {
                    year: $("#yearList").val(),
                    month: $('#ddlMonth').val(),
                    week: $('#ddlWeek').val(),
                    distributionChannelID: $('#channelList').val() ? $('#channelList').val() : null,
                    retailerGroupID: $('#retailerGroupList').val() ? $('#retailerGroupList').val() : null,
                    departmentStoreID: $('#departmentStoreList').val() ? $('#departmentStoreList').val() : null,
                    brandID: $('#brandList').val() ? $('#brandList').val() : null ,
                    universe: $('#iduniverseList').val()
                };
                console.log(frmdata)
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAdminKeyInDetail", "KeyIn")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(frmdata),
                    datatype: "json",
                    success: function (data) {
                        $("#blocker").hide();
                        if (data.data != null) {

                            var titleTable = '<thead class="table-secondary">' +
                                '    <th class="col-2">Brand</th>' +
                                '    <th class="col-2">Amount Sales (' + parseInt(data.year) + " " + $('#ddlMonth option:selected').text() + ' week 4)</th>' +
                                '    <th class="col-1">Rank</th>' +
                                '    <th class="col-1">Amount Sales</th>' +
                                '    <th class="col-1">Whole Sales</th>' +
                                '    <th class="col-1">SK (%)</th>' +
                                '    <th class="col-1">MU (%)</th>' +
                                '    <th class="col-1">FG (%)</th>' +
                                '    <th class="col-1">OT (%)</th>' +
                                '    <th class="col-1">Remark</th>' +
                                '</tr>' +
                                '</thead>';

                            $('#tblDetails').empty();
                            var rowTable = ' <tbody>';
                            for (var i = 0; i < data.data.length - 1; i++) {

                                var amountSalePreviousYear = data.data[i].amountSalePreviousYear ? data.data[i].amountSalePreviousYear : "";
                                var rank = data.data[i].rank ? data.data[i].rank : "";
                                var amountSale = data.data[i].amountSale ? data.data[i].amountSale : "";
                                var wholeSale = data.data[i].wholeSale ? data.data[i].wholeSale : "";
                                var sk = data.data[i].sk ? data.data[i].sk : "";
                                var mu = data.data[i].mu ? data.data[i].mu : "";                             
                                var fg = data.data[i].fg ? data.data[i].fg : "";
                                var ot = data.data[i].ot ? data.data[i].ot : "";
                                var remark = data.data[i].remark ? data.data[i].remark : "";

                                rowTable +=
                                '<tr>'+
                                '<td class="col-2 ID" hidden>' + data.data[i].id +'</td>' +
                                '<td class="col-2" hidden>' + data.data[i].counterID +'</td>' +
                                '<td class="col-2" hidden>' + data.data[i].departmentStoreID +'</td>' +
                                '<td class="col-2" hidden>' + data.data[i].channelID +'</td>' +
                                '<td class="col-2" hidden>' + data.data[i].year +'</td>' +
                                '<td class="col-2" hidden>' + data.data[i].month +'</td>' +
                                '<td class="col-2" hidden>' + data.data[i].week +'</td>' +
                                '<td class="col-2" hidden>' + data.data[i].brandID +'</td>' +
                                '<td class="col-2">' + data.data[i].brandName+'</td>' +
                                '<td class="col-2">' + amountSalePreviousYear +'</td>' +
                                '<td class="col-1" style=" align-items:center"><input type="number" class="form-control input-sm rank" value=' + rank+'></td>' +
                                '<td class="col-1" style=" align-items:center"><input type="number" class="form-control input-sm amountSale" value=' + amountSale+'></td>' +
                                '<td class="col-1" style=" align-items:center"><input type="number" class="form-control input-sm wholeSale" value=' + wholeSale+'></td>' +
                                '<td class="col-1" style=" align-items:center;"><input type="number" class="form-control input-sm sk" value=' + sk+'></td>'+
                                '<td class="col-1" style=" align-items:center;"><input type="number" class="form-control input-sm mu" value=' + mu+'></td>'+
                                '<td class="col-1" style=" align-items:center;"><input type="number" class="form-control input-sm fg" value=' + fg+'></td>'+
                                '<td class="col-1" style=" align-items:center;"><input type="number" class="form-control input-sm ot" value=' + ot+'></td>'+
                                '<td class="col-1" style=" align-items:center"><input type="text" class="form-control input-sm remark" value=' + remark+'></td>' +
                                '</tr>';
                            }
                            $('#tblDetails').append(titleTable + rowTable + ' </tbody>');
                            $('#btnSubmit').show();
                        }
                    },
                    error: function () {
                    }
                });
            }
        })
    });
</script>

