@{
    ViewData["Title"] = "Master Data";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="parentDivClass">
    <div id="profile">
        <div class="nav">
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("BrandGroup", "MasterData")'"><small><b>Brand Group</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("BrandType", "MasterData")'"><small><b>Brand Type</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("BrandSegment","MasterData")'"><small><b>Brand Segment</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("Brand", "MasterData")'"><small><b>Brand</b></small></div>

            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("DistributionChannels", "MasterData")'"><small><b>Distribution Channels</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("RetailerGroup", "MasterData")'"><small><b>Retailer Group</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("DepartmentStore", "MasterData")'"><small><b>Department Store</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("Counter","MasterData")'"><small><b>Counter</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("TopDepartmentStore","MasterData")'"><small><b>Top DepartmentStore</b></small></div>
        </div>
    </div>
    <div>

    </div>
 


</div>


        