@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="parentDivClass">
    <div id="profile">
        <div class="nav">

            <div class="li" onclick="location.href='@Url.Action("Brand", "MasterData")'">Brand</div>
            <div class="li" onclick="location.href='@Url.Action("BrandGroup", "MasterData")'">Brand Group</div>
            <div class="li" onclick="location.href='@Url.Action("BrandGroup", "MasterData")'">Brand Type</div>
            <div class="li" onclick="location.href='@Url.Action("BrandType","MasterData")'">Brand Segment</div>

            <div class="li" onclick="location.href='@Url.Action("RetailerGroup", "MasterData")'">Retailer Group</div>
            <div class="li" onclick="location.href='@Url.Action("DistributionChannels", "MasterData")'"><small>Distribution Channels</small></div>
            <div class="li" onclick="location.href='@Url.Action("DepartmentStore", "MasterData")'">Department Store</div>
            <div class="li" onclick="location.href='@Url.Action("Counter","MasterData")'">Counter</div>
        </div>
    </div>
    <div>

    </div>
 


</div>


        