@{
    ViewData["Title"] = "Profile";
}
<style>
    .btn-profile {
        width: 10rem;
        height: 5rem;
        margin:20px;
        
    }
    .parentDivClass {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
    }
</style>
<h1>@ViewData["Title"]</h1>
<hr />

<div class="parentDivClass">

    <button type="button" class="btn btn-info btn-profile" onclick="location.href='@Url.Action("Brand", "MasterData")'">
        Brand 
    </button>

    <button type="button" class="btn btn-info btn-profile" onclick="location.href='@Url.Action("BrandGroup", "MasterData")'" >
        Brand Group
    </button>

    <button type="button" class="btn btn-info btn-profile" onclick="location.href='@Url.Action("BrandType","MasterData")'" >
        Brand Type
    </button>
    <button type="button" class="btn btn-info btn-profile" onclick="location.href='@Url.Action("BrandSegment","MasterData")'" >
        Brand Segment
    </button>

    <button type="button" class="btn btn-info btn-profile" onclick="location.href='@Url.Action("RetailerGroup", "MasterData")'">
        Retailer Group
    </button>

    <button type="button" class="btn btn-info btn-profile" onclick="location.href='@Url.Action("DistributionChannels", "MasterData")'" >
        Distribution Channels
    </button>
    <button type="button" class="btn btn-info btn-profile" onclick="location.href='@Url.Action("DepartmentStore", "MasterData")'" >
        Department Store
    </button>

    <button type="button" class="btn btn-info btn-profile" onclick="location.href='@Url.Action("Counter", "MasterData")'">
        Counter
    </button>


</div>


        