@{
    ViewData["Title"] = "Reports";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="parentDivClass">
    <div id="reports">
        <div class="nav">

            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("StoreMarketShareZone", "Reports")'"><small><b>Store market share & growth (zone)</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("StoreMarketShareValue", "Reports")'"><small><b>Store market share & growth (value)</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("SelectiveMarket", "Reports")'"><small><b>Selective market</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("DetailsSales","Reports")'"><small><b>Details sales by brand</b></small></div>

            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("RawData", "Reports")'"><small><b>Raw Data</b></small></div>
        </div>
        <div>

        </div>

    </div>

</div>


        