@model MarketData.Models.ApproveKeyInDetailViewModel

@{
    ViewData["Title"] = "บันทึกข้อมูลยอดขายรายร้านค้า";
    Html.RenderPartial("_WarningModal");
    Html.RenderPartial("_SuccessModal");
    Html.RenderPartial("_FailedModal");
    Html.RenderPartial("_ConfirmModalWithText");
}

<style>
    .buttonInline {
        display: inline-flex !important;
        width: 70px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    .tdFlex {
        width: 250px;
        align-items: center;
    }
</style>


<div class="container-xl" style="padding: 20px; overflow-x: auto; padding-top: 20px; padding-left: 20px; padding-right: 20px;">
    <h3>
        @ViewData["Title"]
    </h3>
    <hr />

    @if (!string.IsNullOrWhiteSpace(Model.baRemark ))
    {
        <div class="row" style="word-break:break-all;padding-left:15px;padding-right:15px;color:blue">
            <p style="font-size: 14px;font-weight:bold;">ข้อมูลเพิ่มเติมจาก BA : </p>
            <p style="font-size: 14px;word-break:break-all" id="baRemark">
                @Model.baRemark
            </p>
        </div>
    }

    <div class="row">
        <div style="width: 100%; font-size: 13px;">
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    <label><b>Department Store</b></label><br />
                    <label>
                        @Model.departmentStore
                    </label>
                    <input type="hidden" id="approveKeyInID" value="@Model.approveKeyInID" />
                </div>
                <div class="col-sm-2">
                    <label><b>Retailer Group</b></label><br />
                    <label>
                        @Model.retailerGroup
                    </label>


                </div>
                <div class="col-sm-2">
                    <label><b>Distribution Channel</b></label><br />
                    <label>
                        @Model.channel
                    </label>


                </div>
                <div class="col-sm-1">
                    <label><b>Year</b></label><br />
                    <label>
                        @Model.year
                    </label>
                </div>
                <div class="col-sm-2">
                    <label><b>Month</b></label><br />
                    <label>
                        @Model.month
                    </label>
                </div>
                <div class="col-sm-1">
                    <label><b>Week</b></label><br />
                    <label>
                        @Model.week
                    </label>
                </div>
                <div class="col-sm-2">
                    <label><b>Status</b></label><br />
                    <label>
                        @Model.status
                    </label>
                </div>
                @*<div class="col-sm-3">
                        <div class="custom-file-upload">

                            <label for="file-upload" class="custom-file-upload1">
                                <i class="ion-android-document"></i> Export to Excel
                            </label>
                            <input id="file-upload" type="file" />
                        </div>
                    </div>*@
            </div>
        </div>

    </div>

</div>

<div class="container-xl" style="overflow-x:auto; padding-top:20px;padding-left:20px;padding-right:20px">
    <div class="table-responsive table-sm">
        <div class="table-wrapper">
            <div style=" overflow-x: auto;">
                <table class="table  table-hover " id="tblDetails">
                    <thead class="table-secondary">
                        <tr class="row m-0">
                            @{
                                var titelPrevYear = "Amount Sales (" + (Convert.ToInt32(Model.year) - 1) + " " + Model.month + " week 4)";
                            }
                            <th class="col-2">Brand</th>
                            <th class="col-2">@titelPrevYear</th>
                            <th class="col-1">Rank</th>
                            <th class="col-1">Amount Sales</th>
                            <th class="col-1">Whole Sales</th>
                            <th class="col-1">SK (%)</th>
                            <th class="col-1">MU (%)</th>
                            <th class="col-1">FG (%)</th>
                            <th class="col-1">OT (%)</th>
                            <th class="col-1">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.BAKeyInDetailList)
                            {
                                <tr class="row m-0" style="color: black; background: @( item.brandColor!="" && item.brandColor!=null && item.brandColor!="#ffffff"?item.brandColor:"" )">
                                    <td class="col-2 ID" hidden>@item.ID</td>
                                    <td class="col-2" hidden>@item.keyInID</td>
                                    <td class="col-2" hidden>@item.counterID</td>
                                    <td class="col-2" hidden>@item.departmentStoreID</td>
                                    <td class="col-2" hidden>@item.channelID</td>
                                    <td class="col-2" hidden>@item.year</td>
                                    <td class="col-2" hidden>@item.month</td>
                                    <td class="col-2" hidden>@item.week</td>
                                    <td class="col-2" hidden>@item.brandID</td>
                                    <td class="col-2">@item.brandName</td>
                                    <td class="col-2">@item.amountSalePreviousYear</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center">@item.rank</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center">@item.amountSale</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center">@item.wholeSale</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center">@item.sk</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center">@item.mu</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center">@item.fg</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center">@item.ot</td>
                                    <td class="col-1 d-inline-flex" style=" align-items:center">@item.remark</td>
                                </tr>
                            }

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-xl" style="overflow-x: auto; padding-top: 20px; padding-left: 20px; padding-right: 20px">

    <div class="">
        <textarea class="form-control" id="txtRemark" style=" resize: none; display: block; margin-left: auto; margin-right: auto; padding-bottom: 20px;height:100px" placeholder="ข้อมูลเพิ่มเติม"></textarea>
    </div>
    <div style="padding-top: 20px; text-align:right">
        <button id="btnApprove" class="btn btn-danger " type="button">Approve</button>
        <button id="btnReject" class="btn btn-primary text-white" type="button">Reject</button>
        <a href="Index" class="btn btn-outline-danger">Cancel</a>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#container").removeClass("container");
        $('#btnApprove').on('click', function (e) {
            $('#confirmWithTextID').val('Approve');
            $('#ConfirmModalWithText').modal('show');
            $('#myModalConfirmWithText').text('คุณต้องการ Approve ใช่ไหม?');
        });

        $('#btnReject').on('click', function (e) {
            $('#confirmWithTextID').val('Reject');
            if ($('#txtRemark').val() == "") {
                $('#warningModal').modal('show');

                $('#myModalWarningResult').text('กรุณาใส่ข้อมูลเพิ่มเติมสำหรับการ Reject');
            } else {
                $('#myModalConfirmWithText').text('คุณต้องการ Reject ใช่ไหม?');
                $('#ConfirmModalWithText').modal('show');
            }

        });

        $(".btnConfirmModalWithText").click(function () {

            var baRemark = null;
            if ($('#baRemark').text()) {
                baRemark = $('#baRemark').text().trim();
            }

            $('#ConfirmModalWithText').modal('hide');
                   var frmdata = {
                       approveKeyInID: $('#approveKeyInID').val(),
                       remark: $('#txtRemark').val(),
                       userID: $('#approveKeyInID').val(),
                       baRemark: baRemark
            };
            var urlAction = '';
            if ($('#confirmWithTextID').val() == 'Approve') {
                urlAction = '@Url.Action("ApproveKeyInData", "Approve")';
            } else {
                urlAction = '@Url.Action("RejectKeyInData", "Approve")';
            }
            $.ajax({
                type: "POST",
                url: urlAction,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(frmdata),
                datatype: "json",
                success: function (data) {
                     if (data.isSuccess) {
                         $('#successModalHref').attr("href", "Index");
                         $('#successModal').modal('show');
                     } else if (data.isDuplicated) {
                         $('#failedModal').modal('show');
                         $('#myModalFailedResult').text('Duplicate data!');
                     } else {
                         $('#failedModal').modal('show');
                         $('#myModalFailedResult').text(data.responseError != ""
                             && data.responseError != null ? data.responseError : 'Save data failed');
                     }


                     $('#myModalFailedResult').val('');
                    $('#confirmWithTextID').val('');
                     $('#ConfirmModalWithText').val('');
                     $('#myModalConfirmWithTextResult').val('');
                     $('#myModalWarningResult').text('');
                },
                error: function () {
                }
            });
          });

    });
</script>
